In [6]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [7]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [8]:
df

             A         B
G1 1 -0.744826 -0.606294
   2 -0.102813 -1.162990
   3  0.208808 -1.820885
G2 1  0.912102  0.052323
   2  0.507993 -0.066335
   3 -0.724049 -0.774566

In [9]:
df.loc['G1']

          A         B
1 -0.744826 -0.606294
2 -0.102813 -1.162990
3  0.208808 -1.820885

In [10]:
df.loc['G1'].loc[1]

A   -0.744826
B   -0.606294
Name: 1, dtype: float64

In [11]:
df.index.names

FrozenList([None, None])

In [12]:
df.index.names = ['Groups','Num']

In [13]:
df

                   A         B
Groups Num
G1     1   -0.744826 -0.606294
       2   -0.102813 -1.162990
       3    0.208808 -1.820885
G2     1    0.912102  0.052323
       2    0.507993 -0.066335
       3   -0.724049 -0.774566

In [14]:
df.loc['G2'].loc[2]['B']

-0.06633473439488002

In [15]:
df.xs('G1')

            A         B
Num
1   -0.744826 -0.606294
2   -0.102813 -1.162990
3    0.208808 -1.820885

In [16]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.744826 -0.606294
G2      0.912102  0.052323